.App {
  font-family: "Josefin Slab", arial, sans-serif;
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 100px;
}

.App-logo {
  max-width: 250px;
  display: block;
  margin: 20px 0 0 30px;
}

.App footer {
  font-size: 12px;
  background-color: white;
  padding: 40px 0 20px 0;
}

.App footer a {
  color: black;
  opacity: 0.5;
}
