.Dictionary .question {
  text-align: center;
  margin-top: 50px;
}

.Dictionary form {
  display: block;
  margin: 30px auto;
  max-width: 400px;
}

.Dictionary form input:focus {
  border-color: black;
  box-shadow: none;
  outline: 0 none;
}

.Dictionary .button {
  font-weight: 600;
}

.Weather {
  border: 1px solid;
  border-radius: 8px;
  padding: 16px;
}
