.Meaning {
  border: 1px solid;
  border-radius: 8px;
  padding: 22px 26px 26px 26px;
  margin: 20px 80px;
}

.Meaning h3 {
  font-weight: 700;
}

.Meaning p {
  font-weight: 500;
  margin: 0;
}

.Meaning .example {
  padding: 0 0 10px 10px;
  font-style: italic;
  opacity: 0.6;
}
