.Synonyms {
  opacity: 0.6;
  font-size: 16px;
}

.Synonyms span {
  text-decoration: underline;
}

.Synonyms ul {
  margin-top: 0;
}

.Synonyms li {
  list-style: none;
  display: inline;
}

.Synonyms li:after {
  content: ", ";
}
